
.container{
    max-width: 1146px;
    margin: 0px auto;
}
.table-container {
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: separate;
    text-align: center;
  }
  th, td {
    text-align: center;
    padding: 8px;
    margin-right: 20px !important;
  }
  td:not(:last-child) {
    margin-right: 10px; /* Cell spacing */
  }
  .second-row {
    background-color: #41CCD3;
  }
  @media only screen and (max-width: 600px) {
    .table-container {
      overflow-x: auto;
    }
  }